<div class="login">
  <div class="container">
    <div class="form">

<h1>Make a food item</h1>
 <!-- creates a form for a food item -->
    <%= form_for(@food_item) do |f| %>
      <%= f.text_field :name, :placeholder => "Name" %>
	  
		  <%= f.label :name do %>
		  <% end %>

      <%= f.submit "Create a food item", class: "btn-submit" %>
    <% end %>

  
    </div>
  </div>
</div>